.navbar {
  background-color: #141414;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  color: #E50914;
  text-decoration: none;
  font-family: 'Netflix Sans, Arial, sans-serif';
}

.navLinkWishlist {
  color: #fff;
  text-decoration: none;
  font-family: 'Netflix Sans, Arial, sans-serif';
}
